@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@font-face {
  font-family: "PP Woodland";
  src: url("./content/PPWoodland-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Light";
  src: url("./content/Gilroy-Light\ 300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("./content/Gilroy-ExtraBold\ 800.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kajiro Bold";
  src: url("./content/Kajiro\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CartographCF";
  src: url("./content/CartographCF-LightItalic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PP Woodland;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* CSS for Preloader */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
}

.preloader img {
  max-width: 100px;
  max-height: 100px;
  animation: glow 1.5s ease infinite alternate;
  animation: zoomOut 2s ease forwards;
}
@keyframes glow {
  0% {
    opacity: 0.5;
    box-shadow: 0 0 10px #ffcc00;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 20px #ffcc00, 0 0 30px #ffcc00, 0 0 40px #ffcc00;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  100% {
    transform: scale(2); /* End with scaled down size (zoom out) */
    opacity: 0; /* Optionally fade out */
  }
}

/* CSS to hide content until loaded */
.content {
  display: none;
}

.loaded .content {
  display: block;
}

/* FIRST PAGE */
#page1 {
  margin-bottom: 2vw;
  height: 52vw;
  width: 100%;
  background-color: #111;
}
/* nav2 */
.menu {
  background: #111253;
  height: 3rem;
  padding-left: 2vw;
}
.menu ol {
  list-style-type: none;
  margin: 0 0;
  padding: 0;
}
.menu > ol {
  max-width: 1000px;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
}
.menu > ol > .menu-item {
  flex: 1;
  padding: 0.75rem 0;
}
.menu > ol > .menu-item:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 2px);
  background: #483291;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.2s ease;
}
.menu > ol > .menu-item:hover:after {
  transform: scale(1);
}
.menu-item {
  position: relative;
  line-height: 1.5rem;
  text-align: center;
}
.menu > ol > .menu-item:nth-child(1) {
  padding: auto 1rem;
}
.menu-item a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #fff;
}

.sub-menu .menu-item {
  padding: 0.75rem 0;
  background: #2c0a71;
  opacity: 0;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}
.sub-menu .menu-item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}
.sub-menu .menu-item:hover {
  background: #171775;
}
.sub-menu .menu-item a {
  padding: 0 0.75rem;
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
.menu-item:hover > .sub-menu {
  display: block;
}

/* @media screen and (max-width: 1000px) {
  #navbar{
    display: none;
  }
} */

html,
body {
  font-size: 16px;
  font-family: "Fira Mono", monospace;
  margin: 0;
  background: #111;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background-color: #fff;
  padding: 1px 50px 1px 20px;
}

#nleft {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}
/* #nleft #menu {
  display: none;
} */

#nleft input {
  font-size: 15px;
  padding-left: 10px;
  outline-color: transparent;
  color: black;
  width: 90%;
  /* border: 2px solid #a9a9a9; */
  border: none;
}

#input:placeholder-shown {
  color: #6e6e6e;
}

#nav1 #search {
  display: flex;
  justify-content: space-between;
  border: 2px solid #5e5e5e;
  color: #6e6e6e;
  width: 40vw;
  padding: 2px 20px 2px 2px;
}

#search i {
  font-size: 20px;
}

#nleftimg {
  position: relative;
  width: 194px;
  height: 23px;
}

#nleftimg img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 500;
}

#nright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#nright h3 {
  color: #636363;
  font-size: 17px;
}

#nright h3 i {
  font-size: 20px;
  margin: 1px;
}
#nav3 {
  background-color: #fff;
  padding: 5px;
}
#search2 {
  display: flex;
  justify-content: space-between;
  border: 2px solid #5e5e5e;
  color: #6e6e6e;
  width: 95vw;
  margin: auto;
  padding: 2px 20px 2px 2px;
}
#search2 i {
  font-size: 20px;
}
#search2 input {
  font-size: 15px;
  padding-left: 10px;
  outline-color: transparent;
  color: black;
  width: 90%;
  /* border: 2px solid #a9a9a9; */
  border: none;
}
#menuhover {
  color: #fff;
  background-color: #3a3a3aa8;
  padding: 5px 10px 20px 20px;
  position: absolute;
  width: 250px;
  /* height: 100vh; */
  left: -300px;
  opacity: 0;
}
#menuhover h3 {
  margin: 3px;
}
#menuhover .lang {
  display: none;
}
#menuhover .signIn {
  display: none;
}
#menuhover .contactUs {
  display: none;
}

@media screen and (min-width: 1200px) {
  #nav1 {
    padding: 1px 50px 1px 20px;
  }

  #nleft {
    gap: 50px;
  }

  #nav1 #search {
    width: 40vw;
  }

  #nleft #menu {
    display: none;
  }

  #nav3 {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  #nav1 {
    padding: 1px 50px 1px 20px;
  }

  #nleft {
    gap: 40px;
  }

  #nav1 #search {
    width: 30vw;
  }
  #nleft #menu {
    display: none;
  }
  #nav3 {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  #nav1 {
    padding: 1px 20px 1px 10px;
  }

  #nleft {
    gap: 20px;
  }

  #nav1 #search {
    width: 27vw;
  }
  #navbar {
    display: none;
  }
  #nav3 {
    display: none;
  }
  #nleft #menu {
    display: block;
  }
  .contactUs {
    display: none;
  }
  #nav1 .lang {
    display: none;
  }
  #menuhover .lang {
    display: block;
  }
  #menuhover .contactUs {
    display: block;
  }

  /* #page2 {
    padding: 10%;
  } */

  .elem {
    width: 90%;
    height: 20vh;
  }

  #image {
    width: 40%;
  }

  #ftext {
    padding: 2vw 4vw;
  }

  #ftext button {
    padding: 1.2vw 2.5vw;
    font-size: 1.2vw;
  }
}
@media (min-width: 480px) and (max-width: 700px) {
  #nav1 {
    padding: 1px 20px 1px 10px;
  }

  #nleft {
    gap: 20px;
  }

  #nav1 #search {
    display: none;
  }
  #navbar {
    display: none;
  }
  .contactUs {
    display: none;
  }
  #nav1 .lang {
    display: none;
  }
  #menuhover .lang {
    display: block;
  }
  #menuhover .contactUs {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  #nav1 {
    padding: 1px 10px 1px 5px;
  }

  #nleft {
    gap: 10px;
  }

  #nav1 #search {
    display: none;
  }
  #navbar {
    display: none;
  }
  .contactUs {
    display: none;
  }
  #nav1 .lang {
    display: none;
  }
  #menuhover .lang {
    display: block;
  }
  #nav1 .signIn {
    display: none;
  }
  #menuhover .signIn {
    display: block;
  }
  #navbar {
    display: none;
  }
  #menuhover .contactUs {
    display: block;
  }
}

/* Hero Section */
#hero {
  position: relative;
  height: 50vw;
  width: 100vw;
}
#hero-img {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 90%;
  background-image: url("./content/Alienware.png");
  background-size: cover;
}
#overlay {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
  /* background-color: red; */
  padding: 0 3vw;
  /* background-color: rgba(0, 0, 0, 0.154);
  backdrop-filter: blur(4px); */
}
#f1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
#over {
  width: 90%;
  position: absolute;
  bottom: 0%;
}
#over1,
#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
#over1 {
  margin-bottom: 2vw;
}
#over1 h1 {
  font-size: 3.5vw;
  font-family: "Helvetica Neue";
  font-weight: 300;
  /* mix-blend-mode: difference; */
}
#over1 h2 {
  font-size: 1vw;
  padding: 2vw 2.2vw;
  /* background-color: blue; */
  border-radius: 50%;
  border: 1px solid #fff;
  mix-blend-mode: difference;
  /* border-bottom: 3px solid #fff; */
}
#over2 {
  border-top: 2px solid white;
  padding: 1vw 0;
}
#over2 h2 {
  font-size: 1.3vw;
  font-weight: 500;
}
@media screen and (max-width: 700px) {
  #hero {
    height: 48vw;
  }
  #hero-img {
    height: 95%;
  }
  #over1 {
    margin-bottom: 1vw;
  }
  #over2{
    padding: 0.5vw;
  }
}
@media screen and (max-width: 700px) {
  #hero {
    height: 70vw;
    min-height: 60vh;
  }
  #page1{
    height: 80vw;
    min-height: 70vh;
  }
  #hero-img {
    height: 80%;
    width: 90%;
    left: 45%;
  }
  #over1 {
    margin-bottom: 1vw;
  }
  #over2{
    padding: 0.5vw;
  }
}


/* Page 2 Accesories Section */
#page2 {
  margin-top: 2vw;
  min-height: 100vh;
  width: 100%;
  background-color: #222;
  /* background-image: url("./content/background.jpg"); */
  object-fit: cover;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
/* This is the code to give styling to every element of the accesories */
#page2 .elem {
  height: 30vh;
  width: 46%;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid #ffffff8a;
  border-radius: 25px;
  padding: 10px;
}
#page2 .elem h1 {
  font-size: 2.5rem;
  color: aliceblue;
}
.elem #image {
  min-width: 30%;
  width: 30%;
  height: 90%;
  position: relative;
  /* background-color: royalblue; */
}
.elem #image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Making Accesories Responsive */
@media only screen and (max-width: 1100px) {
  #page2 .elem {
    flex-direction: column;
    height: 40vh;
  }
  #page2 .elem h1 {
    font-size: 2rem;
  }
  .elem #image {
    width: 60%;
    height: 100%;
  }
}
@media only screen and (max-width: 850px) {
  #page2 .elem h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  #page2 .elem {
    height: 30vh;
  }
  #page2 .elem h1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  #page2 .elem {
    height: 20vh;
  }
}
@media only screen and (max-width: 360px) {
  #page2 .elem {
    width: 90%;
    height: 30vh;
  }
}

/* Dell technology showcase */

/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    background: #2c2d2d;
  } */
#page3 {
  height: 115vh;
  width: 100%;
  background-color: #111;
  margin: 0;
}
#statuslap {
  list-style: none;
}
input[type="radio"] {
  display: none;
}
.js-slider {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: right center;
  transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
  transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}
#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3 {
  opacity: 1;
  visibility: visible;
  transform-origin: left center;
  transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}
.js-slider_img {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 100%;
  transform: translate3d(-50%, -50%, 0);
}
.c-img-h-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100rem;
  transform: translate3d(-50%, -50%, 0);
}
.wo-caption {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wo-h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.view-sm {
  font-size: 16px;
  color: #999; /* gray color */
}

.wo-credit {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wo-credit li {
  margin-bottom: 20px;
}

.wo-credit li:first-child {
  font-size: 18px;
  color: #fff; /* white color */
  animation: fadeIn 2s ease-in-out;
}

.wo-credit li:last-child {
  display: flex;
  justify-content: space-between;
}

.buttonslider {
  background-color: #2f506e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.buttonslider:hover {
  background-color: #1c2e44;
}

.buttonslider:active {
  background-color: #3e8e41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/************************************
  ********  two side bar    ***********
  ************************************/
.js-slider_nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);
  padding-top: 80px;
}
.js-slider_nav_item.prev {
  left: 0;
}
.js-slider_nav_item.next {
  right: 0;
  transform: rotateY(180deg);
}
.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 4rem;
  height: 4rem;
  border: 1px solid #4d249f;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 1rem;
  top: 55%;
  width: 1rem;
  height: 1px;
  background-color: #9995b6;
  transform-origin: left bottom;
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:hover {
  transform: translate3d(-30%, 0, 0);
}
.js-slider_nav_item.next:hover {
  transform: rotateY(180deg) translate3d(-30%, 0, 0);
}
.js-slider_nav_item:hover:before {
  transform: translate3d(0, -50%, 0) rotate(-30deg);
}
.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 2rem;
  height: 1px;
  background-color: #9c9abe;
  transform: translate3d(-50%, -50%, 0);
}
#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
  display: block;
}
/************************************
  ********  3 dots indicator    *****
  ************************************/

.js-slider_indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}

.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #65819b;
  transform: translate3d(-50%, -50%, 0);
}

.js-slider-indi:hover:after {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
#s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
#s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
  transform: translate3d(-50%, -50%, 0) scale(2.5);
}
/* heading */
/* Base styles for h2 on page 3 */
#page3 h2 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #fff; /* Initial background color */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  position: relative; /* Needed for text glow effect */
  z-index: 1; /* Ensure text is above pseudo-element */
}

/* CSS for the hover effect */
#page3 h2::before {
  content: ""; /* Pseudo-element for background animation */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Initial background color */
  z-index: -1; /* Behind the heading */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover effect on heading */
#page3 h2:hover::before {
  opacity: 1;
}

/* Text glow effect */
#page3:hover {
  text-shadow: 0 0 1px #ffcc00, 0 0 10px #ffcc00, 0 0 1px #ffcc00; /* Yellow glow effect */
}

/* Media query for screens smaller than 760px */
@media screen and (max-width: 760px) {
  #page3 h2 {
    font-size: 2em;
    padding: 15px 0;
  }
  .js-slider-indi {
    content-visibility: hidden;
  }
}
.wo-h3{
  height: fit-content;
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  #page3 {
    height: 60vh;
    width: 100%;
    background-color: #111;
    margin: 0;
  }
  .js-slider-indi {
    content-visibility: hidden;
  }
  #page3 h2 {
    font-size: 1.5em;
    padding: 0 0;
  }
}

/* Adding keyframes for a simple animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Applying the animation to h2 */
#page3 h2 {
  animation: fadeIn 1s ease-in-out;
}

/************************************
  ********  MEDIA QUERY     ***********
  ************************************/

/************************************
    Mobile devices (max-width: 480px)
  *************************************/
@media only screen and (max-width: 480px) {
  .c-img-w-full {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 20rem;
    transform: translate3d(-50%, -50%, 0);
  }
  .js-slider {
    width: 100%;
    height: 50vh;
  }
  .js-slider_item {
    padding: 0.5rem 1rem;
  }
  .js-slider_img {
    height: 40vh;
  }
  .wo-caption {
    padding: 10px;
    font-size: 16px;
  }
  .wo-h3 {
    font-size: 18px;
  }
  .c-label {
    font-size: 14px;
  }
  .view-sm {
    font-size: 12px;
  }
  .wo-credit {
    flex-direction: column;
    align-items: center;
  }
  .buttonslider {
    padding: 5px 10px;
    font-size: 12px;
  }
  .js-slider_nav {
    padding-top: 40px;
  }
  .js-slider_nav_item {
    width: 2rem;
    height: 2rem;
  }
  .js-slider_indicator {
    bottom: 10px;
  }
}
/************************************
     Tablet devices (max-width: 768px)
  *************************************/

@media only screen and (max-width: 768px) {
  .c-img-w-full {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 20rem;
    transform: translate3d(-50%, -50%, 0);
  }
  .js-slider-indi {
    content-visibility: hidden;
  }
  #page3 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    margin: 0;
  }
  .js-slider {
    width: 90%;
    height: 60vh;
  }
  .js-slider_item {
    padding: 1rem 2rem;
  }
  .js-slider_img {
    height: 50vh;
  }
  .wo-caption {
    padding: 15px;
    font-size: 18px;
  }
  .wo-h3 {
    font-size: 20px;
  }
  .c-label {
    font-size: 16px;
  }
  .view-sm {
    font-size: 14px;
  }
  .wo-credit {
    flex-direction: column;
    align-items: center;
  }
  .buttonslider {
    padding: 10px 20px;
    font-size: 14px;
  }
  .js-slider_nav {
    padding-top: 60px;
  }
  .js-slider_nav_item {
    width: 3rem;
    height: 3rem;
  }
  .js-slider_indicator {
    bottom: 20px;
  }
}
/************************************
     Desktop devices (min-width: 1024px)
  *************************************/

@media only screen and (min-width: 1024px) {
  .js-slider {
    width: 80%;
    height: 80vh;
  }
  .js-slider_item {
    padding: 2rem 4rem;
  }
  .js-slider_img {
    height: 70vh;
  }
  .wo-caption {
    padding: 20px;
    font-size: 20px;
  }
  .wo-h3 {
    font-size: 24px;
  }
  .c-label {
    font-size: 18px;
  }
  .view-sm {
    font-size: 16px;
  }
  .wo-credit {
    flex-direction: row;
    justify-content: space-between;
  }
  .buttonslider {
    padding: 15px 30px;
    font-size: 16px;
  }
  .js-slider_nav {
    padding-top: 80px;
  }
  .js-slider_nav_item {
    width: 4rem;
    height: 4rem;
  }
  .js-slider_indicator {
    bottom: 30px;
  }
  .js-slider-indi {
    content-visibility: hidden;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  h2 {
    font-size: 20px;
    padding: 15px;
  }

  .wo-h3 {
    font-size: 18px;
  }

  .buttonslider {
    height: 70px;
  }

  .js-slider_nav_item {
    width: 40px;
    height: 40px;
  }
}

/* Page 4 Video Section */
#page4 {
  margin: 5vh 0;
  height: 45vw;
  width: 100%;
  background-color: #111;
}
#future {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 1vw; */
  position: absolute;
  overflow: hidden;
  background-color: #2d2b2b;
  height: 45vw;
  width: 100%;
}

#future video {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#ftext {
  font-size: 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
  background-color: #fff;
  padding: 1vw 2vw;
  border-radius: 10px;
}

#ftext button {
  padding: 0.8vw 1.7vw;
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 0.8vw;
  font-weight: 700;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #5e5e5e;
}

@media (min-width: 700px) and (max-width: 1000px) {
  #ftext {
    padding: 2vw 4vw;
  }

  #ftext button {
    padding: 1.2vw 2.5vw;
    font-size: 1.2vw;
  }
}
@media (min-width: 480px) and (max-width: 700px) {
  #ftext {
    padding: 2vw 4vw;
  }

  #ftext button {
    padding: 1.2vw 2.5vw;
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 480px) {
  #ftext {
    padding: 3vw 6vw;
  }
  #ftext button {
    padding: 1.5vw 3vw;
    font-size: 1.5vw;
  }
}

/* contact us */
#page5 {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  background: #111;
  font-size: 12px;
}
#page5 button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

#page5 .background {
  display: flex;
  min-height: 80vh;
}

#page5 .container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

#page5 .screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

#page5 .screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#page5 .screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#page5 .screen-header-left {
  margin-right: auto;
}

#page5 .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

#page5 .screen-header-button.close {
  background: #200389;
}

#page5 .screen-header-button.maximize {
  background: #043d93;
}

#page5 .screen-header-button.minimize {
  background: #0a67b9;
}

#page5 .screen-header-right {
  display: flex;
}

#page5 .screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

#page5 .screen-body {
  display: flex;
}

#page5 .screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #0412ab;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #3905a1;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

#page5 .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

#page5 .app-form-control::placeholder {
  color: #666;
}

#page5 .app-form-control:focus {
  border-bottom-color: #ddd;
}

#page5 .app-form-button {
  background: none;
  border: none;
  color: #0e038c;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#page5 .app-form-button:hover {
  color: #b9134f;
}

#page5 .credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#page5 .credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#page5 .dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  #page5 .screen-body {
    flex-direction: column;
  }

  #page5 .screen-body-item.left {
    margin-bottom: 30px;
  }

  #page5 .app-title {
    flex-direction: row;
  }

  #page5 .app-title span {
    margin-right: 12px;
  }

  #page5 .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #page5 .screen-body {
    padding: 40px;
  }

  #page5 .screen-body-item {
    padding: 0;
  }
}
/* //icon */

#page5 #icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: #111115;
  overflow-x: hidden;
}

#page5 ul {
  position: relative;
  display: flex;
  /* transform: rotate(-25deg) skew(25deg); */
  transform-style: preserve-3d;
}

#page5 ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

#page5 ul li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}

#page5 ul li::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

#page5 ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
}

#page5 ul li:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

#page5 ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

#page5 ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

#page5 ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

#page5 ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

#page5 ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

#page5 ul li:nth-child(1):hover span {
  background: #526ae1;
}

#page5 ul li:nth-child(2):hover span {
  background: #070809;
}

#page5 ul li:nth-child(3):hover span {
  background: #cf0889;
}

#page5 ul li:nth-child(4):hover span {
  background: #2007c7;
}

/* FOOTER STYLE */
#page7{
  justify-content: center;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  overflow-x: hidden;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px 0 10px 40px;
}
/* heading */
.footer-section h3 {
  overflow-x: hidden;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: blue; /* Initial color */
  /* animation: moveText 10s linear infinite, changeColor 2s linear infinite alternate; */
}

/* Define keyframes for moving the text */
/* @keyframes moveText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
} */

/* Define keyframes for changing color */
/* @keyframes changeColor {
  0% {
    color: rgb(125, 214, 249);
  }
 
  100% {
    color: rgb(234, 241, 245);
  }
} */

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 15px;
}

.footer-section ul li a {
  color: #d5cccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: rgb(5, 57, 129); /* Change text color on hover */
  background-color: rgb(40, 40, 47); /* Background color on hover */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Adjust padding for better look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
.footer-bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #444;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #222;
  color: #fff;
}

.footer-bottom p {
  margin: 0 0 10px;
  font-size: 14px;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-bottom ul li {
  display: inline;
  margin: 0 15px;
}

.footer-bottom ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-bottom ul li a:hover {
  text-decoration: underline;
}
/* Responsive styling */

@media screen and (max-width: 760px) {
  
   
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
    }
  
    .footer-section {
      margin-bottom: 20px;
      width: 100%;
    }
  
    .footer-section h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  
    .footer-section ul {
      list-style-type: none;
      padding: 0;
    }
  
    .footer-section ul li {
      margin-bottom: 5px;
    }
  
    .footer-section ul li a {
      text-decoration: none;
      color: #000;
    }
  
    .footer-bottom {
      width: 100%;
      text-align: center;
      /* border-top: 1px solid #444; */
      padding: 20px 0;
      margin-top: 20px;
      background-color: #333;
      color: #fff;
    }
  
    .footer-bottom p {
      margin: 10px 0;
      font-size: 0.9em;
    }
  
    .footer-bottom ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 100%;
    }
  
    .footer-bottom ul li {
      margin-bottom: 5px;
    }
  
    .footer-bottom ul li a {
      text-decoration: none;
      color: #000;
    }
  }
  
  
  

@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #444141;
    overflow-x: hidden;
  }

  .footer-section {
    margin: 10px auto;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
  }

  .footer-section h3 {
    font-size: 1em;
    margin-bottom: 8px;
    text-align: center;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .footer-section ul li {
    margin-bottom: 8px;
  }

  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }

  .footer-bottom {
    width: 100%;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 15px;
    margin-top: 15px;
  }

  .footer-bottom ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .footer-bottom ul li {
    display: inline;
    margin: 0 5px;
  }

  .footer-bottom ul li a {
    color: #626161;
    text-decoration: none;
  }
}
